.venv
.env
archive/mlruns/*
src/mlruns/*
ToDos.txt
.pyc
.pkl
.yaml
__pycache__
src/.DS_Store

.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
archive/mlruns/*
src/mlruns/*
src/data/mlflow.db

